@media (max-width: 576px) {
	.navdesktop {
		display: none;
	}
}

@media (min-width: 576px) {
	.burger-btn {
		display: none;
	}
	.nav {
		display: none;
	}
	.navdesktop {
		position: relative;
		display: block;
		width: 100%;
		height: 10vh;
		background-color: #fff;
		&__logo {
			position: absolute;
			display: flex;
			top: 50%;
			left: 15%;
			transform: translate(-50%, -50%);
			p {
				padding-left: 0.2em;
			}
		}
		&__list {
			position: absolute;
			display: flex;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
			list-style-type: none;
			padding-right: 0.7em;
			:nth-child(1) {
				height: 100%;
				padding: 2em 0.5em;
				background-color: $dark-color;
				color: $white;
			}
		}
		&__item {
			padding: 1em 0.3em;
			align-self: center;
		}
	}
}
