@import 'colors', 'components', 'mixin';

body {
	font-size: 1.6rem;
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 40vh;
	background-image: url(../../dist/img/hero_1280.mim.jpg);
	padding: 2em;
	background-size: cover;
	background-position: bottom;

	&__shadow {
		z-index: 1;
		@include shadow;
	}

	&__texts {
		color: $white;
		z-index: 10;
		align-self: flex-start;
	}
	&__text {
		font-size: 1.4rem;
	}
	&__heading {
		font-size: 2rem;
	}
}

.aboutus {
	display: flex;

	&__img {
		padding: 0 1em;
		width: 100%;
	}
	&__texts {
		width: 100%;
		padding: 1em 1em;
	}
	&__heading {
		font-size: 1.7rem;
		padding: 1.2em 0;
	}
}
